In [1]:
import pandas as pd
from pandas import DataFrame
import sqlalchemy

We load the weather data below. The fields for this dataset are enumerated [here](ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/ghcn-daily-by_year-format.rtf).

In [2]:
weather_data = pd.read_csv('/work/noaa/2015.csv', 
                           header=None,
                           index_col=False,
                           names=['station_identifier', 
                                  'measurement_date', 
                                  'measurement_type', 
                                  'measurement_flag', 
                                  'quality_flag', 
                                  'source_flag', 
                                  'observation_time'],
                           parse_dates=['measurement_date'])

In [3]:
weather_data.head()

,station_identifier,measurement_date,measurement_type,measurement_flag,quality_flag,source_flag,observation_time
0,US1MNCV0008,2015-01-01,PRCP,0,NaN,NaN,N
1,US1MNCV0008,2015-01-01,SNOW,0,NaN,NaN,N
2,US1MNCV0008,2015-01-01,WESF,0,NaN,NaN,N
3,US1MISW0005,2015-01-01,PRCP,0,T,NaN,N
4,ASN00015643,2015-01-01,TMAX,373,NaN,NaN,a

There are a [large number](ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/daily/readme.txt) of categories of weather data in the dataset. For simplicity, we only want to load the data from the 5 "core" weather categories into the database for further analysis:

* PRCP : Precipitation (tenths of mm)
* SNOW : Snowfall (mm)
* SNWD : Snow depth (mm)
* TMAX : Maximum temperature (tenths of degrees C)
* TMIN : Minimum temperature (tenths of degrees C)

We also want to cull a few columns from the DataFrame.

In [4]:
weather_data_subset = weather_data[weather_data.measurement_type.isin(['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN'])][['station_identifier', 'measurement_date', 'measurement_type', 'measurement_flag']]

In [ ]:
weather_data_subset.head()

  station_identifier measurement_date measurement_type  measurement_flag
0        US1MNCV0008       2015-01-01             PRCP                 0
1        US1MNCV0008       2015-01-01             SNOW                 0
3        US1MISW0005       2015-01-01             PRCP                 0
4        ASN00015643       2015-01-01             TMAX               373
5        ASN00015643       2015-01-01             TMIN               222

This cuts down the total count of records by about 30%.

Now, let's write the weather data to our DB. If you setup the Postgres DB as noted in the README, this should instantiate a connection to the database with your local unix username.

If you've configured another Postgres user with a username / password, please fill in the appropriate credentials using the [SQL Alchemy connection string](http://docs.sqlalchemy.org/en/latest/core/engines.html).

In [ ]:
db_name = 'postgres'
connection_string = "postgresql://postgres:123456@localhost:5432/postgres"
conn = sqlalchemy.create_engine(connection_string)

table_name = 'weather_data'
# The to_sql method defaults to bigint for integer types here, which are larger than we need. 
# This manually sets the datatypes of the columns we need to override
column_type_dict = {'measurement_flag': sqlalchemy.types.Integer}
# Writing all the data to the DB at once will cause this notebook to crash.
# We pass a large integer to the chunksize parameter to chunk the writing of records
weather_data_subset.to_sql(table_name, conn, chunksize=100000, index_label='id', dtype=column_type_dict)

Now, let's process and read in the metadata - which contains the (lat, long) - tied to each weather station.

In [ ]:
station_metadata = pd.read_csv('/work/noaa/ghcnd-stations.csv', 
                           sep='\s+',  # Fields are separated by one or more spaces
                           usecols=[0, 1, 2, 3],  # Grab only the first 4 columns
                           na_values=[-999.9],  # Missing elevation is noted as -999.9
                           header=None,
                           names=['station_id', 'latitude', 'longitude', 'elevation'])

In [ ]:
station_metadata.head()

How many stations do we have with missing elevation?

In [ ]:
len(station_metadata[station_metadata['elevation'].isnull()])

Write the metadata to the DB:

In [ ]:
metadata_table_name = 'station_metadata'
station_metadata.to_sql(metadata_table_name, conn, index_label='id')

Finally, we want to label the 5 types of weather data noted above with human-readable names. We create a dictionary mapping each label to its description, create a Data Frame from that, and write it to the database:

In [ ]:
weather_type_dict = {'PRCP': 'Precipitation', 'SNOW': 'Snowfall', 'SNWD': 'Snow Depth', 
                     'TMAX': 'Maximum temperature', 'TMIN': 'Minimum temperature'}
weather_type_df = DataFrame(weather_type_dict.items(), columns=['weather_type', 'weather_description'])
description_table_name = 'weather_types'
weather_type_df.to_sql(description_table_name, conn, index_label='id')